In [1]:
import pandas as pd

In [2]:
segmentations = pd.read_csv(r'C:\Users\Tarek\fiftyone\open-images-v7\train\labels\segmentations.csv')

In [16]:
classes = pd.read_csv(r'C:\Users\Tarek\fiftyone\open-images-v7\train\metadata\classes.csv',header=None)
classes.columns = ['name', 'class']

In [7]:
segmentations['LabelName'].value_counts()

LabelName
/m/09j2d     414489
/m/05r655    173787
/m/0k4j      159435
/m/083wq     155416
/m/01g317    149166
              ...
/m/0j496         13
/m/05w9t9         8
/m/0xzly          7
/m/0ct4f          6
/m/080n7g         2
Name: count, Length: 350, dtype: int64

In [8]:
segmentations.head()

,MaskPath,ImageID,LabelName,BoxID,BoxXMin,BoxXMax,BoxYMin,BoxYMax,PredictedIoU,Clicks
0,677c122b0eaa5d16_m04yx4_9a041d52.png,677c122b0eaa5d16,/m/04yx4,9a041d52,0.887500,0.960938,0.454167,0.720833,0.86864,0.95498 0.65197 1;0.89370 0.56579 1;0.94701 0....
1,05529ae018130c68_m09j2d_b1115fd0.png,05529ae018130c68,/m/09j2d,b1115fd0,0.086875,0.254375,0.504708,0.790960,0.80250,0.16388 0.50114 1;0.25069 0.75425 1;0.13478 0....
2,96e7ee70b428a54e_m04yx4_05580497.png,96e7ee70b428a54e,/m/04yx4,05580497,0.456250,0.603125,0.222013,0.903104,0.55850,0.52271 0.46625 0;0.52695 0.70150 0;0.59151 0....
3,76084f166740d78a_m09j2d_557dfcf5.png,76084f166740d78a,/m/09j2d,557dfcf5,0.018750,0.145625,0.313333,0.754167,0.62394,0.08756 0.34082 0;0.03971 0.34195 1;0.06705 0....
4,ebaccfc70c721055_m02p0tk3_b39109c0.png,ebaccfc70c721055,/m/02p0tk3,b39109c0,0.097500,0.212500,0.291667,0.930833,0.84223,0.19847 0.85413 1;0.18916 0.34751 1;0.18636 0....

In [17]:
classes.head()

          name       class
0    /m/011k07    Tortoise
1  /m/011q46kg   Container
2    /m/012074      Magpie
3    /m/0120dh  Sea turtle
4    /m/01226z    Football

In [18]:
classes[classes['class'] == 'Car']['name'].values

array(['/m/0k4j'], dtype=object)

In [19]:
classes['name'] =  classes['name'].str.replace('/', '', regex=False)

In [20]:
classes.head()

        name       class
0    m011k07    Tortoise
1  m011q46kg   Container
2    m012074      Magpie
3    m0120dh  Sea turtle
4    m01226z    Football

In [21]:
classes[classes['name'] == 'm083wq']

       name  class
408  m083wq  Wheel

In [1]:
import json

# Specify the path to your JSON file
json_file_path = 'test/data.json'

# Open and load the JSON file
with open(json_file_path, 'r') as file:
    data = json.load(file)  # Save the JSON content to a Python variable

In [2]:
len(data['images'])

15003

In [1]:
import cv2

image = cv2.imread(r'C:\Users\Tarek\fiftyone\open-images-v7\train\data\004eee32a983a20c.jpg')

(683, 1024, 3)